extends ../components/base/layout

block variables
  - const title = "Список страниц"

block main
  style
    include ../../sass/inline/sitemap.css

  -
    const pages = [
      {
        name: "UI-kit — ui-kit.html",
        src: "ui-kit.html"
      },
      {
        name: "Главная — index.html",
        src: "index.html"
      },
      {
        name: "Коллекции — collection.html",
        src: "collections.html"
      },
      {
        name: "Бюстгальтеры — bras.html",
        src: "bras.html"
      },
      {
        name: "Карточка комплекта — set-card.html",
        src: "set-card.html"
      },
      {
        name: "Карточка товара — product-card.html",
        src: "product-card.html"
      },
      {
        name: "Корзина — cart.html",
        src: "cart.html"
      },
      {
        name: "Корзина | Корзина пустая — cart-empty.html",
        src: "cart-empty.html"
      },
      {
        name: "Оформление заказа — order.html",
        src: "order.html"
      },
      {
        name: "Оформление заказа | Пункт выдачи выбран — order-delivery-pick-point.html",
        src: "order-delivery-pick-point.html"
      },
      {
        name: "Оформление заказа | Оплата прошла успешно! — order-success.html",
        src: "order-success.html"
      },
      {
        name: "Таблица размеров — table-size.html",
        src: "table-size.html"
      },
      {
        name: "Оплата — pay.html",
        src: "pay.html"
      },
      {
        name: "Доставка — delivery.html",
        src: "delivery.html"
      },
      {
        name: "Условия возврата — refund.html",
        src: "refund.html"
      },
      {
        name: "Контакты — contacts.html",
        src: "contacts.html"
      },
      {
        name: "О компании — about.html",
        src: "about.html"
      },
    ]

  main
    .sitemap
      .container
        img(src="img/content/header-logo.png", width="300", alt="Логотип проекта")
        h1 Список страниц
        ol
          each page in pages
            li
              if page.id
                label(for=page.id)
                  span!= page.name
                input.visually-hidden(type="checkbox", checked=true, id=page.id)
                div
                  ul
                    each item in page.innerList
                      li
                        a(href= item.src)= item.name
              else
                a(href= page.src)= page.name
