mixin order-block(props = {})
  - const { isFilled = false, isActive = false, hasFooter = false, title = "", text = "", aside = false, editUrl = "#", mod, pickPointSelected = false} = props
  .order-block(class=mod && `order-block--${mod}`)&attributes(attributes)
    .order-block__content
      .order-block__header
        h3.order-block__title(class=isFilled && "order-block__title--filled")
          +icon("icon-done", 34, 34)
          span!= title
        a.order-block__edit.edit-button.edit-button--short(href="#", data-order="edit")
          +icon("icon-edit", 18, 18)
          span Изменить
      if block
        if text
          p.order-block__description!= text
        .order-block__block
          block
    if mod === "delivery"
      .order-block__aside
        +delivery-tabs({pickPointSelected})
      +delivery-form({pickPointSelected})
    if hasFooter
      .order-block__footer
        +btn({text: "Подтвердить", type: "button", stroke: true, size: "small"}).order-block__submit(data-order="next")
